In [ ]:
import pandas as pd  
import numpy as np
import numpy
import pandas
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from numpy import argmax
df=pd.read_csv('train.csv')
df

              datetime  season  holiday  ...  humidity windspeed  Total_booking
0       5/2/2012 19:00  Summer        0  ...        77   16.9979            504
1        9/5/2012 4:00    Fall        0  ...        79   19.0012              5
2       1/13/2011 9:00  Spring        0  ...        50   22.0028            139
3     11/18/2011 16:00  Winter        0  ...        29    8.9981            209
4      9/13/2011 13:00    Fall        0  ...        51   19.0012            184
...                ...     ...      ...  ...       ...       ...            ...
8703    1/16/2012 6:00  Spring        1  ...        54    6.0032             13
8704   11/10/2011 1:00  Winter        0  ...        87    0.0000             11
8705    4/12/2011 3:00  Summer        0  ...        56    8.9981              1
8706    11/7/2012 1:00  Winter        0  ...        61   16.9979             92
8707   1/10/2011 10:00  Spring        0  ...        50   19.9995             31

[8708 rows x 10 columns]

In [ ]:
import pandas as pd  
import numpy as np
import random
from sklearn.linear_model import LinearRegression
from scipy.stats import uniform

In [ ]:
x1 = uniform.rvs(size=100)
x2 = (0.5*x1)+100
y = 2+(2*x1)+(0.3*x2)+100
X = pd.DataFrame(x1,x2)
print(f'The mean of y:{y.mean():.2f},')
reg = LinearRegression().fit(X,y)
print(f'reg.coefficent:{reg.coef_//1}.')
print(f'reg.intercept:{reg.intercept_:.1f}.')

The mean of y:133.16,
reg.coefficent:[2.].
reg.intercept:132.0.

In [ ]:
X = pd.DataFrame(x1,x2)
print(X)

                   0
100.174248  0.348495
100.207014  0.414027
100.309655  0.619309
100.365832  0.731665
100.274343  0.548685
...              ...
100.359461  0.718923
100.416570  0.833139
100.447519  0.895037
100.379753  0.759506
100.275087  0.550174

[100 rows x 1 columns]

Regression of coefficient:[2.15],
reg.intercept:132.0.

reg.intercept:132.0.