In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("res/autompg.csv")

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,Total_booking
0,5/2/2012 19:00,Summer,0,1,Clear + Few clouds,22.14,25.760,77,16.9979,504
1,9/5/2012 4:00,Fall,0,1,Clear + Few clouds,28.70,33.335,79,19.0012,5
2,1/13/2011 9:00,Spring,0,1,Clear + Few clouds,5.74,6.060,50,22.0028,139
3,11/18/2011 16:00,Winter,0,1,Clear + Few clouds,13.94,16.665,29,8.9981,209
4,9/13/2011 13:00,Fall,0,1,Clear + Few clouds,30.34,33.335,51,19.0012,184

In [ ]:
df_mean= df['Total_booking'].mean()
df_mean_Total_booking=str(round(df_mean, 2))
df_mean_Total_booking

'193.01'

In [ ]:
output=df_mean-df_std
difference=str(round(output, 2))
print(difference)

11.45

In [ ]:
df_median = df['Total_booking'].median()
median_Total_booking=str(round(df_median, 2))
print(median_Total_booking)

148.0

In [ ]:
df_mode = df['Total_booking'].mode()
print(df_mode)

0    5
dtype: int64

In [ ]:
df_std = df['Total_booking'].std()
std_Total_booking=str(round(df_std, 2))
print(std_Total_booking)

181.55

In [ ]:
from scipy.stats import kendalltau

In [ ]:
print(df.corr())

                holiday  workingday      temp     atemp  humidity  windspeed  \
holiday        1.000000   -0.249755 -0.000165 -0.005526 -0.004567   0.008075
workingday    -0.249755    1.000000  0.032189  0.026168 -0.009282   0.013035
temp          -0.000165    0.032189  1.000000  0.984035 -0.066419  -0.027824
atemp         -0.005526    0.026168  0.984035  1.000000 -0.044206  -0.068911
humidity      -0.004567   -0.009282 -0.066419 -0.044206  1.000000  -0.320346
windspeed      0.008075    0.013035 -0.027824 -0.068911 -0.320346   1.000000
Total_booking -0.004391    0.012285  0.397456  0.392754 -0.307982   0.092090

               Total_booking
holiday            -0.004391
workingday          0.012285
temp                0.397456
atemp               0.392754
humidity           -0.307982
windspeed           0.092090
Total_booking       1.000000

In [ ]:
from scipy.stats import pearsonr
from scipy.stats import kendalltau
correlation = df.corr()
pearson_coef = correlation.loc['temp','humidity']
kendalltau_coef = correlation.loc['temp','humidity']
print('kendalltau_coef.to_csv("output/output5.csv")',kendalltau_coef.mean().round(2))
print('pearson_coef.to_csv("output/output6.csv")',pearson_coef.mean().round(2))

kendalltau_coef.to_csv("output/output5.csv") -0.07
pearson_coef.to_csv("output/output6.csv") -0.07